Sandbox testing environment
 - Technological safe space; no connection to real world or production system
 - Try the [[upgrade]]/apply the [[patch]] & test and confirm before deployment 
 - Try the backout plan (move everything back to the original) to ensure that the steps are reversible if needed (e.g. uncovered vulnerability or malfunctioning) 